@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #21213E;
    color: #E4E4E4;
    font-family: 'Poppins';
    line-height: 1.5;
}

.container {
    display: flex;
    flex-direction: row-reverse;
}

.apps{
    width: 85%;
    margin: 1rem;
    display: flex;
    justify-content: center;
}

.navbar{
    width: 15%;
}
