.comments {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

 .comments-title {
  font-size: 30px;
  margin-bottom: 20px;
}
.comment-form-textarea {
  width: 320px;
  height: 100px;
  padding: 5px 10px;
  box-sizing: border-box;
  border: 3px solid black;
  border-radius: 10px;
  background-color: #121231;
  font-size: 16px;
  resize: none;
}
.comments-container {
  display: flex;
  flex-direction: column;
}
.comment-form-title {
  font-size: 22px;
}
.comment {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: yellow;
}


.comment-form-button {
  font-size: 16px;
  padding: 8px 16px;
  background: rgb(59, 130, 246);
  border-radius: 8px;
  color: white;
}

.comment-form-button:hover:enabled {
  cursor: pointer;
  background: rgb(37, 99, 235);
}

.comment-form-button:disabled {
  opacity: 0.7;
  cursor: default;
}

.comment-form-cancel-button {
  margin-left: 10px;
}



.comment-image-container {
  margin-right: 12px;
}

.comment-image-container img {
  border-radius: 50px;
}

.comment-right-part {
  width: 100%;
}

.comment-content {
  display: flex;
}

.comment-author {
  margin-right: 8px;
  font-size: 20px;
  color: rgb(59, 130, 246);
}

.comment-text {
  font-size: 18px;
}

.comment-action {
  margin-right: 8px;
}

.comment-action:hover {
  text-decoration: underline;
}

.replies {
  margin-top: 20px;
}
